<!DOCTYPE HTML>
<html>
    <head>
        <title>Adauga Zi de Sarbatoare</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    </head>
    <body>
        <p>
            Formularul asta adauga o zi de sarbatoare in memoria programului, si se va afisa in
            tabelul de mai sus.
        </p><br>
        <p>
            -Sarbatoare: Poti sa pui orice, este un fel de eticheta ca sa iti amintesti ce sarbatoare este.
            De exemplu "Craciun".
        </p>
        <p>
            -Data: Aici pui data sarbatorii care trebuie neaparat sa fie scrisa asa: an/luna/zi. De exemplu
            "2019/08/26".
        </p>
        <p>
            -Factor: Aici pui un factor de inmultire care trebuie un numar integru sau decimal. De exemplu "1.7".
        </p>
        <p>
            -Adauga: Apasa butonul asta ca sa introduci informatia in memoria programului.
        </p><br>
        <p>
            Poti sa afli mai multe la informatia tabelului despre ce inseamna totul si cum functioneaza zilele 
            de sarbatoare.
        </p>
            

            
        
    </body>
    
</html>