<!DOCTYPE HTML>
<html>
    <head>
        <title>Introduce un Nou Angajat</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    </head>
    <body>
        <p>
            Formularul asta introduce un nou angajat in sistem, care dupaia va aparea in tabel.
        </p><br>
        <p>
            -Nume: Aici scri numele si prenumele angajatului care este folosit de sistem numai 
            pentru afisarea informatiei. 
        </p>
        <p>
            -Incepere Program: Aici scri ora la care incepe angajatul programul. Trebuie neaparat sa fie scris
            in formatul urmator: ora:minut. De exemplu "08:30" sau "9:00". Este folosit de program ca sa isi
            dea seama daca cineva a intarziat si pentru a calcula timpul lucrat in fiecare zi.
        </p>
        <p>
            -Pauza: Aici scri durata pauzei de masa. Trebuie neaparat sa fie scris in formatul 
            urmator: ora:minut. De exemplu "00:30" sau "1:00". Este folosit de program ca sa calculeze ora 
            de plecare (incepere program + pauza + 8 ore), si apoi daca a plecat angajatul devreme si cat a 
            lucrat in fiecare zi.
        </p>
        <p>
            -Pauza: Introduci tu atunci cand adaugi un nou angajat. Este folosit de program ca sa calculeze ora 
            de plecare (incepere program + pauza + 8 ore), si apoi daca a plecat angajatul devreme si cat a 
            lucrat in fiecare zi.
        </p><br>
        <p>
            Apasa pe butonul "Introducere" ca sa salvezi informatia in memoria sistemului
        </p>
            
    </body>
    
</html>