<!DOCTYPE HTML>
<html>
    <head>
        <title>Lista de Angajati</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    </head>
    <body>
        <p>
            Tabelul asta arata toti angajatii inregistrati in sistem. Fiecare angajat are un cod unic, un nume,
            ora de inceperea programului, durata pauzei de masa, si un cod de amprenta. Astea inseamna:
        </p><br>
        <p>
            -Cod unic: Un numar dat de sistem automat cand se inregistreaza un angajat care este mereu codul
            cel mai mare plus 1 (ca sa nu fie niciodata acelasi cod pentru doi angajati). Codul asta este 
            folosit cand vrei sa modifici informatia unui angajat sau cand soliciti informatie.
        </p>
        <p>
            -Nume: Nume si prenume care introduci tu atunci cand adaugi un nou angajat.
        </p>
        <p>
            -Incepere program: Introduci tu atunci cand adaugi un nou angajat. Este folosit de program ca sa isi
            dea seama daca cineva a intarziat si pentru a calcula timpul lucrat in fiecare zi.
        </p>
        <p>
            -Pauza: Introduci tu atunci cand adaugi un nou angajat. Este folosit de program ca sa calculeze ora 
            de plecare (incepere program + pauza + 8 ore), si apoi daca a plecat angajatul devreme si cat a 
            lucrat in fiecare zi.
        </p>
        <p>
            -Numar amprente: Aici vezi cate amprente sau unghiuri sunt inregistrate la un angajat. Este 
            recomandat sa inregistrezi vreo 3-4 unghiuri diferite la fiecare deget dorit. Este de asemenea
            recomandat sa se inregistreze cele doua degete mari fiindca se scaneaza cel mai bine, si poate
            angajatul sa ponteze si in cazul in care are o mana murdara.Ca sa inregistrezi
            amprenta unui angajat, apasa pe "Scaneaza". Lumina senzorului se va porni si angajatul trebuie sa
            puna amprenta pe senzor. Cand se stinge lumina, trebuie sa ridice degetul de pe senzor, si sa o 
            puna din nou cand se reaprinde (trebuie sa fie acelasi deget si aceeasi pozitie a degetului).
            Scanarea trebuie facuta in maxim 6 secunde dupa ce apesi pe "Scaneaza", ca dupaia se dezactiveaza
            senzorul automat. Daca nu decurge inregistrarea cum trebuie, sistemul va cere din nou sa vada amprenta.
            Ca regula de baza, amprenta trebuie plasata pe senzor cand se aprinde lumina albastra, si sa fie
            scoasa atunci cand aceasta se stinge. Daca inregistrarea a fost facuta corect si a fost inregistrat 
            un unghi nou al degetului, numarul de amprente va creste. Poti sa vezi ce spune
            programul in legatura cu scanarea amprentei in cutia "Program output" la fundul paginii. Programul
            scrie in aceasta cutie numai atunci cand a terminat complet procesul de inregistrare.
        </p>
        <p>
            Sterge: Apasa pe butonul asta pentru a sterge acel angajat din sistem. Daca faci asta, si datele de
            pontaj pentru acel angajat vor fi sterse, deci sa ai grija. Daca vrei sa pastrezi aceste date,
            fa o cerere de date cu formularele de mai jos inainte sa stergi angajatul.
        </p>
        <p>
            Poti sa afli mai multe despre introducerea si modificarea informatiei din tabel in documentatie
            formularelor corespunzatoare.
        </p>
            

            
        
    </body>
    
</html>