<!DOCTYPE HTML>
<html>
    <head>
        <title>Modificare Pontaj</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    </head>
    <body>
        <p>
            Formularul asta modifica pontajul unui angajat intr-o anume zi. Poti sa scrii manual cate ore
            a fost un angajat la servici pe o data. 
        </p><br>
        <p>
            -Cod Unic Angajat: Aici scrii sau alegi cu micile sageti codul unic angajatului al carui pontajul
            vrei sa modifici.
        </p>
        <p>
            -Data: Aici scrii data pe care vrei sa modifici. Trebuie neaparat sa fie in formatul: an/luna/zi. 
            De exemplu "2019/08/26".
        </p>
        <p>
            -Ore: Aici scrii sau alegi cu micile sageti numarul de ore pe care vrei sa pontezi in data de mai sus.
            Daca alegi un numar mai mic decat 8, programul va decide ca in acea zi angajatul a plecat mai devreme
            de la servici.
        </p><br>
        <p>
            Apasa pe butonul "Modifica" pentru a modifica pontajul angajatului.
        </p>
            
    </body>
    
</html>