<!DOCTYPE HTML>
<html>
    <head>
        <title>Modifica un Angajat</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    </head>
    <body>
        <p>
            Formularul asta modifica ora de incepere a programului si durata pauzei de masa a unui angajat.
        </p><br>
        <p>
            -Cod Unic Angajat: Aici scri sau alegi cu micile sageti codul unic al angajatului pe care
            vrei sa il modifici. Poti sa vezi codurile in tabelul de angajati.
        </p>
        <p>
            -Incepere Program: Aici scri ora noua la care incepe angajatul programul. Trebuie neaparat sa fie scrisa
            in formatul urmator: ora:minut. De exemplu "08:30" sau "9:00". Este folosit de program ca sa isi
            dea seama daca cineva a intarziat si pentru a calcula timpul lucrat in fiecare zi.
        </p>
        <p>
            -Pauza: Aici scri durata noua a pauzei de masa. Trebuie neaparat sa fie scrisa in formatul 
            urmator: ora:minut. De exemplu "00:30" sau "1:00". Este folosit de program ca sa calculeze ora 
            de plecare (incepere program + pauza + 8 ore), si apoi daca a plecat angajatul devreme si cat a 
            lucrat in fiecare zi.
        </p><br>
        <p>
            Apasa pe butonul "Modifica" ca sa modifici informatia angajatului in memoria sistemului.
        </p>
            
    </body>
    
</html>