<!DOCTYPE HTML>
<html>
    <head>
        <title>Numar de Zile Lucratoare</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    </head>
    <body>
        <p>
            Aici introduci numarul de zile lucratoare pe fiecare luna a anului. Numarul de zile este inmultit cu 8 
            pentru a calcula cate ore trebuie sa fie lucrate in fiecare luna. Dupa ce schimbi numerele cu micile 
            sageti sau pur si simplu tastatura, apasa pe butonul "Seteaza" pentru a seta cifrele in program. 
            Cifrele afisate initial sunt cele stocate in memoria programului si care se vor folosii cand faci
            cerere de date sau un sumar al anului (pe pagina "Angajati").
        </p>
    </body>
    
</html>