<!DOCTYPE HTML>
<html>
    <head>
        <title>Program Output</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    </head>
    <body>
        <p>
            Aici poti vedea ce spune programul despre inregistrarea unei amprente. El scrie in cutie numai
            cand termina de procesat complet, dar poti vedea cauza problemei daca nu s-a facut bine
            inregistrarea.
        </p>
            
    </body>
    
</html>