<!DOCTYPE HTML>
<html>
    <head>
        <title>Solicitare Sumar</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    </head>
    <body>
        <p>
            Apasa pe butonul "Solicita" pentru a cere un sumar al anului pentru fiecare angajat. Vei primi
            prin email un fisier .csv cu informatia. Fisierul poate fi deschis si manipulat in Excel.
        </p>
            
    </body>
    
</html>