<!DOCTYPE HTML>
<html>
    <head>
        <title>Zile de Sarbatoare</title>
        <meta name="description" content="website description" />
        <meta name="keywords" content="website keywords, website keywords" />
        <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    </head>
    <body>
        <p>
            Acest tabel iti arata zilele de sarbatoare inregistrate in memoria programului si
            iti da posibiltatea sa le stergi. Pentru fiecare data din tabel, angajati primesc 8
            ore de munca, si orice ore suplimentare pe care le muncesc in acea zi sunt inmultite cu
            factorul de inmultire cand se fac calcule. Poti adauga o zi di sarbatoare cu formular de
            mai jos.
        </p>
    </body>
    
</html>