<!DOCTYPE HTML>
<html>

<head>
  <title>Server Pontaj - Pagina Principala</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="static/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Eurodac<span class="logo_colour"> Pontaj</span></a></h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="index.html">Pagina Principala</a></li>
          <li><a href="setari.html">Setari</a></li>
          <li><a href="angajati.html">Angajati</a></li>
        </ul>
      </div>
    </div>
        <div id="content_header">
            <h2 align="center">Pontajul de Azi</h2>
        </div>
    <div id="site_content">
      <div id="content">
        <!-- insert the page content here -->
            <div>
        <iframe 
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR19Lm82R1XhNPVRFzCOlofpv
v7WHj30LKjcxxpkSvcZRoe3IlQmmd4XWvbQh8y76nei4qpdjMzRx_F/pubhtml?widget=true&amp;headers=false"
          width="100%"
          height="100%">
        </iframe>
            </div>
      </div>
    </div>
  </div>
</body>
</html>
